@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$yellow: #d59615;
$orange: #f26722;
$white: #ffffff;
$light: #fafafa;
$dark-brown: #843a17;
$brown: #ac562d;
$dark-grey: #3b3b3b;
$black: #231d25;
$grey: #979797;
$border: #dcdad5;
$border-light: #d7d7d7;
$light-orange: #ffede3;
$light-yellow: #fff2d7;
$mid-gray: #918e92;
$background: #F7F7F7;


$font-Poppins: "Poppins", sans-serif;
$font-Manrope: "Manrope", sans-serif;

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-styled{
    list-style: circle;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    scroll-behavior: smooth;
}
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1rem;
    font-family: $font-Poppins;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}
a {
    text-decoration: none;
    color: $black;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    display: block;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

.ff-primary {
    font-family: $font-Poppins;
}

.ff-secondary {
    font-family: $font-Manrope;
}

th {
    font-weight: 500;
    color: $orange;
    background-color: #ffede361;
}
td {
    font-weight: 500;
}

.text-sm {
    font-size: 0.75rem;
}
.text-brown{
    color: $brown !important;
}
.text-mid-grey{
    color: $mid-gray !important;
}
.text-orange {
    color: $orange !important;
}
.text-black {
    color: $black !important;
}
.text-white {
    color: $white !important;
}
.text-yellow {
    color: $yellow !important;
}

.text-grey{
    color: $grey !important;
}

.bg-orange {
    background-color: $orange;
}

.bg-background{
    background-color: $background;
}
.bg-yellow {
    background-color: $yellow;
}

.bg-light-orange {
    background-color: $light-orange;
}
.bg-light{
    background-color: $light !important; 
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.cursor-pointer {
    cursor: pointer;
}

.w-20 {
    width: 20%;
}
.w-33 {
    width: 33%;
}
.w-255{
    width: 255.64px;
}
.w-319{
    width: 319px;
}
.text-balance {
    text-wrap: balance;
}
.box-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product-detail-shadow{
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.05);
}
.fw-300{
    font-weight: 300;
}
.rounded-40 {
    border-radius: 2.5rem;
}
.rounded-20{
    border-radius: 1.25rem;
}

.d-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border-raidus-10 {
    border-radius: 0.625rem;
}

.img-1-1 {
    aspect-ratio: 1/1;
}
.img-4-2 {
    aspect-ratio: 4/2;
}

.img-4-3 {
    aspect-ratio: 4/3;
}

.img-16-9 {
    aspect-ratio: 16/9;
}

.img-16-10 {
    aspect-ratio: 16/10;
}

.text-justify {
    text-align: justify;
}

.border-orange {
    border: 1px solid $orange;
}
.border-yellow{
    border: 1px solid $yellow;
}
.border-gray {
    border: 1px solid $border;
}

.button-primary {
    background-color: $orange;
    border-radius: 0.625rem;
    color: $white;
    font-size: 1.125rem;
    font-weight: 600;
    padding-inline: 1.5rem;
    border: 1px solid transparent;
    padding-block: 0.75rem;
    text-decoration: none;
    line-height: normal;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $white;
        color: $orange;
        border-color: $orange;
    }
}

.button-white {
    background-color: $white;
    border-radius: 3.125rem;
    color: $black;
    font-size: 1rem;
    font-weight: 600;
    padding-inline: 1.5rem;
    border: 1px solid transparent;
    padding-block: 0.75rem;
    text-decoration: none;
    line-height: normal;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $black;
        color: $white;
        border-color: $black;
    }
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}
