@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$orange: #f26722;
$light-orange: #ffede3;

body {
  font-family: "Poppins", sans-serif;
  background-color: lightgray;
}

th{
  font-weight: 500;
  color: $orange;
  background-color: #ffede361;
}
td{
  font-weight: 500;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
body {
  font-size: 1rem;
  font-family: "exo 2", sans-serif;
  color: #000;
}
.css-1af8w5v{
  background-color: #eeeeee7a!important;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}

.text-orange {
  color: $orange;
}
.bg-orange {
  background-color: $orange;
}

.bg-light-orange {
  background-color: $light-orange;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.cursor-pointer {
  cursor: pointer;
}

.w-20 {
  width: 20%;
}
.w-33 {
  width: 33%;
}

.heading {
  font-weight: 600;
  font-size: 1.6rem;
}

.box-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.rounded-40 {
  border-radius: 2.5rem;
}

.d-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-sm{
  font-size: 12px;
}

.card{
  border: .5px solid #eeeeee!important;
  border-radius: 10px!important;
}


.dsh-heading{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    border-radius: .8rem;
    left: 0;
    bottom: -12px;
    display: inline-block;
    width: 3rem;
    height: 6px;
    background-color: $orange;
  }
}