$orange: #f26722;
$light-orange: #ffede3;


//// Sidebar Start ////
.dashboard-sidebar {
  .css-txj0o0-MuiDrawer-docked .MuiDrawer-paper {
    padding: 1rem !important;
  }
  .css-11px2du-MuiTypography-root{
    font-weight: 600!important;
  }
}
/// Sidebar End //


/// Login Start ///
.login-wrapper {
  .left-section{
    padding:  6rem 12rem;
  }
}
