@import "cssReset";

.web-wrapper-main {
  font-family: $font-Manrope;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  width: 100%;
  height: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    font-family: $font-Manrope;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $black;
  }
  p,
  a {
    color: $dark-grey;
  }

  // Responsive Headings with Clamp
  h1 {
    font-size: clamp(
      2.5rem,
      5vw + 1rem,
      4.3325rem
    ); //69.32px Min 2.5rem, Max 4.3325rem
  }
  h2 {
    font-size: clamp(2rem, 4vw + 1rem, 3.75rem); //60px Min 2rem, Max 3.75rem
  }
  h3 {
    font-size: clamp(
      1.5rem,
      3vw + 1rem,
      2.25rem
    ); //36px Min 1.5rem, Max 2.25rem
  }
  h4 {
    font-size: clamp(
      1.25rem,
      2.5vw + 1rem,
      2.0219rem
    ); //32.35px Min 1.25rem, Max 2.0219rem
  }
  h5 {
    font-size: clamp(
      1rem,
      2vw + 0.5rem,
      1.375rem
    ); //22px Min 1rem, Max 1.375rem
  }
  h6 {
    font-size: clamp(
      0.875rem,
      1.5vw + 0.5rem,
      1.25rem
    ); //20px Min 0.875rem, Max 1.25rem
  }
  p {
    font-size: clamp(
      0.875rem,
      1vw + 0.5rem,
      1rem
    ); //16px Min 0.875rem, Max 1rem
    margin-bottom: 0;
  }
  // Font Sizes for Special Classes
  .fb-fs-30 {
    font-size: 1.875rem;
  }
  .fb-fs-16 {
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1rem); //16px Min 0.875rem, Max 1rem
  }
  .fb-fs-18 {
    font-size: clamp(
      1rem,
      1.5vw + 0.5rem,
      1.125rem
    ); //18px Min 1rem, Max 1.125rem
  }
  .fb-fs-14 {
    font-size: clamp(
      0.75rem,
      1vw + 0.5rem,
      0.9281rem
    ); //14.85px Min 0.75rem, Max 0.9281rem
  }
  .fb-fs-30 {
    font-size: 1.875rem; // 30px
  }
  .fb-fs-12 {
    font-size: clamp(
      0.625rem,
      0.75vw + 0.5rem,
      0.8119rem
    ); //12.99px Min 0.625rem, Max 0.8119rem
  }
  .fb-fs-16-big {
    font-size: clamp(
      0.875rem,
      1vw + 0.5rem,
      1.0444rem
    ); //16.71px Min 0.875rem, Max 1.0444rem
  }
  .fb-fs-26{
    font-size: 1.625rem;
  }
  .fb-fs-40 {
    font-size: 2.5rem;
  }
  .fb-fs-24{
    font-size: 1.5rem;
  }
  section {
    padding-block: 5rem;
  }
  .fb-pt-5 {
    padding-top: 5rem;
  }
  .fb-pb-5 {
    padding-bottom: 5rem;
  }
}

.fb-bottom-shadow {
  box-shadow: 0px 4px 40px 0px #0000000d;
}

.primary-linear {
  background: linear-gradient(180deg, #ffffff 0%, #fff6e8 50%, #ffffff 100%);
}

.underline-heading {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 0.8rem;
    left: 0;
    display: inline-block;
  }
  &::before {
    bottom: -0.8rem;
    width: 33%;
    height: 0.27rem;
    background-color: $yellow;
    z-index: 2;
  }
  &::after {
    bottom: -0.75rem;
    display: inline-block;
    width: 100%;
    height: 0.12rem;
    background-color: $border;
    z-index: 1;
  }
}

.category-select-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .cat-btn-item {
    border: 1px solid $border;
    border-radius: 0.5rem;
    padding: 0.85rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .pill-circle {
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 0.875rem;
      font-weight: 500;
      color: $yellow;
      background-color: #fff2d7;
      aspect-ratio: 1/1;
      width: 1.5rem;
    }
    &.active {
      background-color: #fffbf3;
      border: 1px solid $yellow;
    }
  }
}

/* Default tab button styles */
.btn-tab {
  border: 1px solid #e1e1e1;
  padding: 0.5rem 1.875rem;
  color: #333;
  cursor: pointer;
  margin-right: 2rem;
  transition: background-color 0.3s ease;
}

.btn-tab:hover {
  background-color: #e2e6ea;
}

/* Active tab button styles */
.nav {
  .active {
    color: #333;
  }
}

.add-address-button{
  border: 1px dashed $orange;
  color: $orange;
  border-radius: 0.625rem;
  padding : 1rem 0rem;
  margin: 2rem 0rem;
}

.p-slider .p-slider-handle{
  height: 1.7rem;
  width: 1.7rem;
  border: 1px solid $yellow;
}
.p-slider .p-slider-range{
  background: $yellow;
}
.p-slider {
  border-radius: 0.9375rem;
}
.p-slider.p-slider-horizontal{
  height: 1.6rem;
}
.p-slider-horizontal .p-slider-handle {
top: 32%;
}
.max-border{
border: 1px solid $border;
padding: 0.3125rem;
border-radius: 0.375rem;
text-wrap: nowrap;
}
.sort-select{
  border: 1px solid $border;
  padding: 0.4375rem 1rem;
  border-radius: 0.625rem;
}
.header-delivery-search {
  width: 65%;
  .header-delivery {
    .header-delivery-icon {
      display: inline-grid;
      place-content: center;
      width: 3rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: $light-yellow;
      svg {
        fill: $yellow;
      }
    }
  }
}

// header
.header-search {
  border: 1px solid $mid-gray;
  border-radius: 0.625rem;
  padding: 0.25rem 0.5rem;
  .all-category {
    border-right: 1px solid $mid-gray;
    .p-dropdown-label {
      color: $black;
      font-size: 0.875rem;
      font-weight: 500;
    }
  }
  .search-input {
    .p-inputtext {
      font-size: 0.875rem;
      font-weight: 500;
      color: $mid-gray;
    }
  }
}

.product-card {
  position: relative;
  border-radius: 1.16rem;
  .product-badge {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem 0 0.875rem 0; /* Rounded corners on top-left and bottom-right */
  }
  .masala-con {
  }
}

// first-purchase
.first_purchase {
  .purchase-bg {
    height: 26.3406rem !important;
    background-image: url("../images/web/purchase-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    .purchase-content {
      padding: 3.5rem 1rem 1rem 5.9rem;
      .button-white {
        margin-top: 2.8rem;
      }
    }
  }
}

//category
.offers-cards {
  grid-template-columns: repeat(auto-fit, 20.2312rem) !important;
}
.cat-items-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 12.2312rem);
  justify-content: center;
  gap: 2.5rem;
  .cat-itmes {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .saver-card {
      img {
        padding-left: 1.6rem;
      }
    }
    .item-image {
      background: var(--linear);
      border-radius: 8rem 8rem 1.1594rem 1.1594rem;
      display: grid;
      place-content: center;
      justify-items: center;
      height: 14rem;
      img {
        object-fit: fill;
        aspect-ratio: 9/14;
        width: 5.5rem;
        margin-top: 1rem;
        box-shadow: 0px 3.71px 9.27px 0px rgba(0, 0, 0, 0.15);
      }
    }
  }
}


.summary-card{
  border: 2px solid $border;
  transition: all 0.3s ease-in-out;
  &:hover{
    border-color: $yellow;
  }
}
// tab style

.tab-nav-wrapper {
  .nav-item {
    .nav-link {
      transition: all 0.3s ease-in-out;
      &:is(.active, :hover) {
        color: $orange;
        background-color: transparent;
        font-weight: 700;
      }
    }
  }
}

//offer style

.offer-cards {
  .protein-left,
  .protein-right-top,
  .protein-right-bottom {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.9306rem;
    .right-top-content,
    .right-bottom-content {
      width: 60%;
    }
  }
  .protein-left {
    background-image: url("../images/web/protien-bg-1.png");
    background-position: bottom;
  }
  .protein-right-top {
    background-image: url("../images/web/protien-bg-2.png");
    background-position: right;
  }
  .protein-right-bottom {
    background-image: url("../images/web/protien-bg-3.png");
    background-position: right;
  }
}

//banner-ads
.banner-ads {
  .content-sec {
    background-color: $brown;
    height: 100%;
    width: 100%;
    padding: 4rem 13rem 6rem 8rem;
  }
}

//product-detail-page
.product-detail-slider {
  .product-detail-image {
    border-radius: 1.25rem;
    width: 39rem;
    height: 35.125rem;
  }
}

//download-section

.download-section {
  background: linear-gradient(180deg, #ffffff 0%, #fff6e8 50%, #ffffff 100%);
  position: relative;
  .millet-top {
    position: absolute;
    top: 4%;
    left: 25%;
  }
  .millet-upper {
    position: absolute;
    top: 18%;
    left: 10%;
  }
  .millet-right {
    position: absolute;
    top: 6%;
    right: 3%;
  }
  .millet-bottom {
    position: absolute;
    bottom: 7%;
    left: 5%;
  }
  .grain-1 {
    position: absolute;
    top: 11%;
    right: 13%;
  }
  .grain-2 {
    position: absolute;
    bottom: 39%;
    right: 6%;
  }
  .grain-3 {
    position: absolute;
    bottom: 11%;
    right: 5%;
  }
  .download-content {
    padding: 7rem;
  }
}

// menu & drop down

.menu-dropdown-wrapper {
  .menu-wrapper-card {
    min-width: 17.25rem;
    border: none;
    border-radius: 0.9375rem;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.07);
    background-color: $white;
  }
}

.account-menu {
  .account-profile-detail {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 1rem 1rem;
    border-bottom: 0.0625rem solid $border;
    .account-profile-content {
      h6 {
        font-weight: 600;
        margin-bottom: 0.3rem;
      }
      p {
        font-size: 0.875rem;
      }
    }
  }
  .list-wrapper {
    padding: 1rem 2rem;
  }
}

.no-caret {
  &::after {
    display: none !important;
  }
}

.cart-items {
  display: flex;
  justify-content: space-between;
  .product-item {
    border: 1px solid $border;
    border-radius: 0.625rem;
    padding: 0.4rem 0.8rem;
    img {
      width: 8rem;
      height: 5rem;
    }
  }
  .product-details {
    .item-name {
    }
    .item-weight {
    }
    .item-amount {
    }
  }
  .product-quantity {
    color: $orange;
    .quantity-manage {
      border: 1px solid $orange;
      border-radius: 0.625rem;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.6rem;
      padding: 0.2rem;
    }
    .remove-quantity {
    }
  }
}
.total-amount-wrapper {
}

// responsive styles

@media (min-width: 1440px) and (max-width: 1600px) {
}

@media (min-width: 1400px) {
  .fb-container,
  .fb-container-lg,
  .fb-container-md,
  .fb-container-sm,
  .fb-container-xl,
  .fb-container-xxl {
    max-width: 1440px !important;
  }
}

@media (max-width: 1440px) {
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .fb-container,
  .fb-container-lg,
  .fb-container-md,
  .fb-container-sm,
  .fb-container-xl,
  .fb-container-xxl {
    max-width: 1100px !important;
  }
  .banner-ads .image-sec {
    height: 100%;
  }
  .banner-ads .content-sec {
    padding: 1.5rem;
  }
  .banner-ads .content-sec h2 {
    margin-top: 2rem;
    font-size: 3rem;
    line-height: 3rem;
  }
  .banner-ads .content-sec p {
    padding-bottom: 1.5rem !important;
  }
  .button-white {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }
  // first-purchase
  .first_purchase {
    .purchase-bg {
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      .purchase-content {
        h4 {
          font-size: 1.6rem;
          margin-bottom: 0.5rem !important;
        }
        h1 {
          line-height: 2.5rem;
          font-size: 60px !important;
          span {
            display: block;
          }
        }
        p {
          font-size: 14px;
        }
        .button-white {
          margin-top: 2.2rem;
          border-radius: 10px;
        }
      }
      .purchase-image-sec {
        img {
          aspect-ratio: 16 / 12;
          margin-top: 1.7rem !important;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .fb-container,
  .fb-container-lg,
  .fb-container-md,
  .fb-container-sm,
  .fb-container-xl,
  .fb-container-xxl {
    max-width: 900px !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .first_purchase .purchase-bg .purchase-content {
    padding: 3.5rem 0rem 1rem 5.9rem;
  }
  // first-purchase
  .first_purchase {
    .purchase-bg {
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      .purchase-content {
        h4 {
          font-size: 1.6rem;
          margin-bottom: 0.5rem !important;
        }
        h1 {
          line-height: 2.5rem;
          font-size: 60px !important;
          span {
            display: block;
          }
        }
        p {
          font-size: 14px;
        }
        .button-white {
          margin-top: 2.2rem;
          border-radius: 10px;
        }
      }
      .purchase-image-sec {
        img {
          aspect-ratio: 16 / 13;
          margin-top: 4.72rem !important;
        }
      }
    }
  }
  .web-wrapper-main h4 {
    font-size: 25px;
  }
  .web-wrapper-main p {
    font-size: 14px;
  }
  .offer-cards .protein-right-top .right-top-content {
    width: 62%;
  }
  .button-primary {
    font-size: 14px;
  }
  .offer-cards {
    .protein-left {
      .left-content {
        padding: 2rem !important;
        h4 {
          margin-bottom: 0.5rem !important;
        }
      }
    }
    .protein-right-top {
      .right-top-content {
        padding: 2rem !important;
        h4 {
          margin-bottom: 0.5rem !important;
        }
      }
    }
  }
  .banner-ads .image-sec {
    height: 100%;
  }
  .banner-ads .content-sec {
    padding: 2rem;
  }
  .banner-ads .content-sec h2 {
    margin-top: 2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .button-white {
    font-size: 0.9rem;
    margin-bottom: 2.5rem;
  }
  .millets {
    .millet-left-img {
      margin-bottom: 0 !important;
    }
    .millet-content p br {
      display: none;
    }
  }
  .millets .millet-content {
    padding-left: 0rem !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  // first-purchase
  .first_purchase {
    .purchase-bg {
      height: 744px !important;
      background-image: url("../images/web/purchase-bg-mobile.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-top-right-radius: 2.7rem;
      border-bottom-right-radius: 2.7rem;
      border-bottom-left-radius: 2.7rem;
      .purchase-content {
        padding: 2rem;
        padding-top: 2.5rem;
        h4 {
          font-size: 1.6rem;
          margin-bottom: 0.5rem !important;
        }
        h1 {
          line-height: 2.5rem;
          span {
            display: block;
          }
        }
        .button-white {
          margin-top: 2.8rem;
          border-radius: 10px;
        }
      }
      .purchase-image-sec {
        img {
          margin-top: 0 !important;
          position: sticky;
        }
      }
    }
  }
  .web-wrapper-main h4 {
    font-size: 22px;
  }
  .web-wrapper-main p {
    font-size: 14px;
  }
  .offer-cards {
    .protein-left {
      height: 100vh;
      margin-bottom: 1rem;
      border-radius: 16px;
      .left-content {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
      }
      button {
        margin-left: 2rem !important;
      }
    }
    .protein-right-top {
      .right-top-content {
        padding-left: 2rem !important;
        padding-right: 1rem !important;
        padding-top: 1.5rem !important;
      }
    }
  }
  .offer-cards .protein-right-bottom {
    margin-top: 1rem;
  }
  .button-primary {
    font-size: 11px;
  }
  .offer-cards .protein-right-bottom .right-bottom-content {
    width: unset;
    padding: 22px 15rem 22px 2rem !important;
  }
  .banner-ads .image-sec {
    height: 100%;
  }
  .banner-ads .content-sec {
    padding: 1rem;
  }
  .banner-ads .content-sec h2 {
    margin-top: 2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .banner-ads .content-sec p {
    font-size: 0.875rem;
    padding-bottom: 2rem !important;
  }
  .button-white {
    font-size: 0.68rem;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 992px) {
}

@media (min-width: 576px) and (max-width: 768px) {
  .web-wrapper-main h4 {
    font-size: 18px;
  }
  .web-wrapper-main p {
    font-size: 14px;
  }
  .offer-cards {
    .protein-left {
      height: 85vh;
      margin-bottom: 1rem;
      border-radius: 16px;
      .left-content {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }
      button {
        margin-left: 1rem !important;
      }
    }
    .protein-right-top {
      .right-top-content {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-top: 1.5rem !important;
      }
      button {
        margin-left: 1rem !important;
      }
    }
  }
  .offer-cards .protein-right-bottom {
    margin-top: 1rem;
  }
  .button-primary {
    font-size: 11px;
  }
  .offer-cards .protein-right-bottom .right-bottom-content {
    width: unset;
    padding: 22px 15rem 22px 1rem !important;
  }
  .banner-ads .image-sec .mobile-ban {
    width: 100vw;
  }
  .banner-ads .content-sec {
    padding: 1rem;
  }
  .banner-ads .content-sec h2 {
    margin-top: 2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .banner-ads .content-sec p {
    font-size: 0.875rem;
    padding-bottom: 2rem !important;
  }
  .button-white {
    font-size: 0.68rem;
    margin-bottom: 2.5rem;
  }
  .millets {
    .millet-content p br {
      display: none;
    }
  }
  .millets .millet-content {
    padding-left: 0.5rem !important;
  }
  // first-purchase
  .first_purchase {
    .purchase-bg {
      height: 656px !important;
      background-image: url("../images/web/purchase-bg-mobile.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-top-right-radius: 2.7rem;
      border-bottom-right-radius: 2.7rem;
      .purchase-content {
        padding: 1.222rem;
        padding-top: 2.5rem;
        h4 {
          font-size: 1.6rem;
          margin-bottom: 0.5rem !important;
        }
        h1 {
          line-height: 2.5rem;
          span {
            display: block;
          }
        }
        .button-white {
          margin-top: 2.8rem;
          border-radius: 10px;
        }
      }
      .purchase-image-sec {
        img {
          margin-top: 0 !important;
          position: sticky;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  // first-purchase
  h5{
    font-size: 0.8125rem !important;
  }
  .first_purchase {
    .purchase-bg {
      height: 37.5625rem !important;
      background-image: url("../images/web/purchase-bg-mobile.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      .purchase-content {
        padding: 1.222rem;
        padding-top: 2.5rem;
        h4 {
          font-size: 1.6rem;
          margin-bottom: 0.5rem !important;
        }
        h1 {
          line-height: 2rem;
          span {
            display: inline-block;
          }
        }
        .button-white {
          margin-top: 2.8rem;
          border-radius: 10px;
        }
      }
      .purchase-image-sec {
        img {
          margin-top: 0 !important;
          position: sticky;
        }
      }
    }
  }
  .millets .millet-content {
    padding-left: 0.5rem !important;
  }
  .millets {
    .millet-content p br {
      display: none;
    }
  }
  .download-section .download-content {
    padding: 0rem;
    margin-bottom: 3rem;
    margin-left: 0.5rem !important;
    p {
      margin-bottom: 0rem !important;
    }
  }
  .cat-items-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    .cat-itmes {
      .item-image {
        height: 8rem;
        img {
          object-fit: fill;
          width: 3.2rem;
          aspect-ratio: 9/14;
        }
      }
    }
  }

  .web-wrapper-main h4 {
    font-size: 15.64px;
    margin-bottom: 0 !important;
  }
  .web-wrapper-main p {
    font-size: 12px;
  }
  .offer-cards {
    .protein-left {
      height: 85vh;
      margin-bottom: 1rem;
      border-radius: 16px;
      .left-content {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }
      button {
        margin-left: 1rem !important;
      }
    }
    .protein-right-top {
      margin-bottom: 1rem;
      .right-top-content {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-top: 1.5rem !important;
      }
      button {
        margin-left: 1rem !important;
      }
    }
  }
  .button-primary {
    font-size: 9.38px;
  }
  .offer-cards .protein-right-top {
    border-radius: 16px;
    height: 35vh !important;
    background-position: left;
    // width: 91vw !important;
    background-size: cover;
  }
  .offer-cards .protein-right-bottom {
    border-radius: 16px;
    height: 35vh !important;
    background-position: left;
    // width: 91vw !important;
  }
  .offer-cards .protein-right-top .right-top-content {
    width: unset;
    padding: 22px 5rem 22px 1rem !important;
  }
  .offer-cards .protein-right-bottom .right-bottom-content {
    width: unset;
    padding: 22px 5rem 22px 1rem !important;
  }
  .banner-ads .content-sec {
    padding: 1rem;
  }
  .banner-ads .image-sec .mobile-ban {
    width: 100vw;
  }
  .banner-ads .content-sec h2 {
    margin-top: 2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .banner-ads .content-sec p {
    font-size: 0.875rem;
    padding-bottom: 2rem !important;
  }
  .button-white {
    font-size: 0.68rem;
    margin-bottom: 2.5rem;
  }
  .category-select-list .cat-btn-item {
    font-size: 0.8125rem;
  }
  .sort-select{
    padding: 3px 0px 3px 10px;
    p{
      margin-top: 0.375rem !important;
    }
    .form-select{
      font-size: 0.8125rem;
    }
  } 
}
